@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/img.jpg');
    min-height: 85vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 100px 50px 100px 50px;
    border-radius: 45px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

input{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 6px;
    padding-left: 12px;
}

div{
    color: #fff;
    font-size: large;
    margin-bottom: 20px;
}

button{
    border-radius: 40px;
    padding: 10px;
    margin-top: 40px;
    background: #ffffff;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    width: 13vw;
    margin-bottom: 30px;
}

button:hover{
    background: #cccccc;
    transition: 200ms ease-in-out;
}

.moduleResult{
    font-size: larger;
}